@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');

@font-face {
  font-family: 'True Lies';
  src: url('./assets/fonts/TrueLies.otf') format("truetype");
}

@font-face {
  font-family: 'ProFontWindows';
  src: url('./assets/fonts/ProFontWindows.ttf') format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins;
  background: #1d1d1d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  color: #3cff00;
  background: #000;
}

a{
  text-decoration: none;
  color: #e6e6e6;
}

/* slider */
.slick-prev{
  width: 100px !important;
  height: 25px !important;
  cursor: none !important;
  left: -80px !important;
}

.slick-prev::after{
  content: url('./assets/img/back-arr.svg') !important;
  width: 40px !important;
  height: 25px !important;
}

.slick-prev::before{
  content: '' !important;
}

.slick-next{
  width: 100px !important;
  height: 25px !important;
  cursor: none !important;
  right: -80px !important;
}

.slick-next::after{
  content: url('./assets/img/prev-arr.svg') !important;
  width: 40px !important;
  height: 25px !important;
}

.slick-next::before{
  content: '' !important;
}