@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');

@font-face {
  font-family: 'True Lies';
  src: url('./assets/fonts/TrueLies.otf') format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins;
  background: #111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  color: #ff0;
  background: #000; 
}