@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');

@font-face {
  font-family: 'True Lies';
  src: url('./assets/fonts/TrueLies.otf') format("truetype");
}

@font-face {
  font-family: 'ProFontWindows';
  src: url('./assets/fonts/ProFontWindows.ttf') format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins;
  background: #1d1d1d;
  /* background: #2a2a2a; */
  height: 5000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  color: #3cff00;
  background: #000;
}

a{
  text-decoration: none;
  color: #e6e6e6;
}